<br>
<div class="container">
  <aw-wizard >

    <!-- WIZARD step 1 -->
    <aw-wizard-step stepTitle="step 1">
      <br><br>
      <div class="row justify-content-center">
        <div class="col-lg-10">

          <form [formGroup]="step1">
            <div class="form-group">
              <label>Please selecet a meal :</label>
              <select formControlName="meal" class="form-control" (change)="onChangeMeal($event.target.value)">
                <option value=""> Please select one</option>
                <option value="breakfast"> Breakfast</option>
                <option value="lunch"> Lunch</option>
                <option value="dinner"> Dinner</option>
              </select>
              <div class="err-color" *ngIf="step1.get('meal').errors && submit1">
                <p *ngIf="step1.get('meal').errors?.required" class="lbl-err">This
                  field is required.</p>
              </div>
            </div>
            <div class="form-group">
              <label for="pwd">Please enter number of people : </label>
              <select formControlName="people" class="form-control">
                <option value=""> Please select one</option>
                <option *ngFor="let people of poeples" [value]="people">{{people}}</option>
              </select>
              <div class="err-color" *ngIf="step1.get('people').errors && submit1">
                <p *ngIf="step1.get('people').errors?.required" class="lbl-err">This
                  field is required.</p>
              </div>
            </div>
          </form>

        </div>
      </div>
      <button type="button" (click)="submit1 = true" class="next-btn btn btn-success" awNextStep>Go to next step</button>
    </aw-wizard-step>


    <!-- WIZARD step 2 -->
    <aw-wizard-step stepTitle="step 2" [canEnter]="step1Valdiation()">
      <br><br>
      <div class="cotainer">
        <div class="row justify-content-center">
          <div class="col-lg-10">

            <form [formGroup]="step2">
              <div class="form-group">
                <label>Please selecet a Restaurant :</label>
                <select formControlName="restaurant" class="form-control"
                  (change)="onChangeRestaurant($event.target.value)">
                  <option value=""> Please select one</option>
                  <option *ngFor="let restaurant of restaurants" [value]="restaurant.restaurant">
                    {{restaurant.restaurant}}
                  </option>
                </select>
                <div class="err-color" *ngIf="step2.get('restaurant').errors && submit2">
                  <p *ngIf="step2.get('restaurant').errors?.required" class="lbl-err">This
                    field is required.</p>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
      <button type="button" class="back-btn btn" awPreviousStep>Previous</button>
      <button type="button" (click)="submit2 = true" class="next-btn btn btn-success" awNextStep>Go to next step</button>
    </aw-wizard-step>


    <!-- WIZARD step 3 -->
    <aw-wizard-step stepTitle="step 3" [canEnter]="step2Valdiation()">
      <br><br>

      <form [formGroup]="step3">
        <div formArrayName="dishs" *ngFor="let dish of dishs.controls; let i = index">
          <div [formGroupName]="i">
            <div class="row justify-content-center">
              <div class="col-lg-5">

                <div class="form-group">
                  <label *ngIf="1 > i">Please selecet a Dish :</label>
                  <select formControlName="dish" class="form-control">
                    <option value=""> Please select one</option>
                    <option *ngFor="let dishes of dishList" [value]="dishes.name"> {{dishes.name}}
                    </option>
                  </select>
                  <div class="err-color" *ngIf="dish.controls['dish'].errors && submit3">
                    <p *ngIf=" dish.controls['dish'].errors?.required" class="lbl-err">This
                      field is required.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-5">
                <div class=form-group>
                  <label *ngIf="1 > i">Enter number of servings :</label>
                  <select formControlName="servingCounte" class="form-control">
                    <option value=""> Please select one</option>
                    <option *ngFor="let people of poeples" [value]="people">{{people}}</option>
                  </select>
                  <div class="err-color" *ngIf="dish.controls['servingCounte'].errors && submit3">
                    <p *ngIf="dish.controls['servingCounte'].errors?.required" class="lbl-err">This
                      field is required.</p>
                  </div>
                </div>
                <div *ngIf="dishs.controls.length > 1">
                  <button class="remove-btn btn btn-danger" (click)="removeDish(i)">remove</button>
                </div>
              </div>
            </div>
          </div>
        </div><br>
        <img (click)="addNext()" class="add-dish" src="../assets/images/icons/69301.png">
        <br>
      </form>

      <br>
      <button type="button" class="back-btn btn" awPreviousStep>Previous</button>
      <button type="button" (click)="checkValidation()" class="next-btn btn btn-success" awNextStep>Go to next step</button>
    </aw-wizard-step>


    <!-- WIZARD step 4 -->
    <aw-wizard-step stepTitle="Review" [canEnter]="step3Valdiation()">
      <br><br>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h3 align="center"> Order Review</h3><br>
          <table class="table table-hover">
            <tr>
              <td><b>Meal</b></td>
              <td>{{step1.value.meal}}</td>
            </tr>
            <tr>
              <td><b>No. of people</b></td>
              <td>{{step1.value.people}}</td>
            </tr>
            <tr>
              <td><b>Restaurant</b></td>
              <td>{{step2.value.restaurant}}</td>
            </tr>
            <tr>
              <td><b>Dishesh</b> </td>
              <td><span  *ngFor="let dish of step3.value.dishs"> {{dish.dish}} - {{dish.servingCounte}} <br> </span></td>
            </tr>
          </table>
        </div>
      </div>
      <button type="button" class="back-btn btn" awPreviousStep>Previous</button>
      <button type="button" class="next-btn btn btn-success" (click)="finishFunction()">Submit</button>
    </aw-wizard-step>

  </aw-wizard>
</div>